<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text"><a href="/" title="Careers in International Organizations">Careers in International
            Organizations</a></em>
      </div>
    </div>
  </div>
</header>
<main id="main-content">
  <section class="usa-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading">
          <span class="usa-hero__heading--alt">Serve the United States and the world:</span>International
          organizations
          need your experience
        </h1>
        <p>
          Make a difference in sustainable development, enhancing peace and security, and promoting human rights.
        </p>
        <a class="usa-button" href="/positions.html">See open positions</a>
      </div>
    </div>
  </section>