<section id="test-section-id" class="usa-section usa-section--dark">
  <div class="grid-container">
    <h2 class="font-heading-xl margin-y-0">For students and junior professionals</h2>
    <p class="usa-intro">
      Working in an international organization can be a highly rewarding experience for students and recent graduates
      interested in issues of global importance. 
    </p>
    <p class="usa-intro">
      Programs ranging from short-term internships to multi-year
      development programs help those just starting a career to find a job that matches their skills and interests.
    </p>
    <a class="usa-button usa-button--big" href="students-jpo">Learn more about student and Junior Professional Officer
      programs</a>
  </div>
</section>