<section class="usa-graphic-list usa-section">
  <div class="grid-container">
    <h2 class="font-heading-xl header-y-padding">Other opportunities</h2>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <img class="usa-media-block__img usa-media-block__icon" src="/assets/img/material-icons/account_balance.svg"
          alt="Government agency icon" />
        <div class="usa-media-block__body">
          <h2 class="usa-graphic-list__heading">
            Federal Employee Details
          </h2>
          <p>
            Eligible U.S. government employees <a href="federal.html">may be detailed or
              transferred</a> to certain international organizations.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="usa-media-block__img usa-media-block__icon" src="/assets/img/material-icons/policy.svg"
          alt="Policy icon" />
        <div class="usa-media-block__body">
          <h2 class="usa-graphic-list__heading">
            Oversight Roles
          </h2>
          <p>
            If you have administrative, financial, or management experience, you could be nominated to <a
              href="other-opportunities">serve in a pro-bono oversight role.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>