<section id="test-section-id" class="usa-section usa-section--dark">
  <div class="grid-container">
    <h2 class="font-heading-xl margin-y-0">For experienced professionals</h2>
    <p class="usa-intro">
      U.S. multilateral engagement spans a range of important global
      issues, including peace and security, nuclear nonproliferation, human rights, economic development, climate
      change, global health, and food security. 
    </p>
    <p class="usa-intro">
        Based on your background and the nature of the position you're applying for,
        the U.S. government may decide to advocate on your behalf.  
    </p>
    <p class="usa-intro">
      Once you've chosen a position to apply for, you can submit your resume for an advocacy decision.
    </p>
    <ul class="usa-button-group">
      <li class="usa-button-group__item">
        <a class="usa-button usa-button--big" href="#before-you-apply" aria-controls="before-you-apply" data-open-modal>
          Apply for advocacy
        </a>
      </li>
      <li class="usa-button-group__item">
        <em>&#8212; or &#8212;</em>
      </li>
      <li class="usa-button-group__item">
        <a class="usa-button usa-button--big usa-button--outline usa-button--outline-dark" href="/positions.html">Find a
          position</a>
      </li>
    </ul>
  </div>
  <div class="usa-modal" id="before-you-apply" aria-labelledby="apply-modal-heading"
    aria-describedby="apply-modal-description" data-force-action>
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="apply-modal-heading">
          Before you apply
        </h2>
        <div class="usa-prose">
          <p id="apply-modal-description">
            You must be an U.S. citizen to apply for advocacy.<br><br>
            You should only submit your request for advocacy once, even if you're applying for multiple
            positions.<br><br> If
            your
            information is already in our database, email subsequent requests to <a
              href="mailto:IO-Careers@state.gov">IO-Careers@state.gov</a> with a copy of the position description.
          </p>
        </div>
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
              <a class="usa-button" href="https://iipstate.my.site.com/iocareersintakeform/s/" data-close-modal>
                Continue to the advocacy application
              </a>
            </li>
            <li class="usa-button-group__item">
              <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>
                Go back
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>