<section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">
          Working together in common cause 
        </h2>
      </div>
      <div class="tablet:grid-col-8 usa-prose">
        <aside class="quote">
          <blockquote>
          I understand the duty my country has to lead in this critical moment; to work with countries in every region linking them in common cause; to join together with partners who share a common vision of the future of the world, where our children do not go hungry and everyone has access quality healthcare, where workers are empowered and our environment is protected, where entrepreneurs and innovators everywhere can access opportunity everywhere, where conflicts are resolved peacefully and countries can chart their own course.
          </blockquote>
          <br>
        <span class="by">President Joseph R. Biden, Remarks Before the 78th Session of the United Nations General Assembly</span>
        </aside>
      </div>
    </div>
  </section>